*{
    margin: 0;
}
header{
    position: fixed;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    height: 149.8px;
    z-index: 10;
}
.menu{
    display: flex;
    position: relative;
    right: 50px;
}
.menu-item{
    list-style: none;
    padding-right: 80px;
    cursor: pointer;
}
.menu-item:hover .dropmenu{
    display: flex;
    flex-direction: column;
    background-color: aqua;
}
.name{
    text-align: center;
    padding-top: 50px;
    cursor: pointer;
}
.name a{
    text-decoration: none;
    color: white;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.commander{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 100px;
    border-bottom: 1px solid rgb(59, 58, 58);

}
.commander img{
    position: relative;
    right: 10px;
}
.search{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 50px;
    border-bottom: 1px solid rgb(59, 58, 58);
    cursor: pointer;;
}
.panier{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(59, 58, 58);
    cursor: pointer;
}
.panier img{
    position: relative;
    right: 10px;
}
.sup{
    display: flex;
    width: 1000px;
}
.inf{
    position: relative;
    display: flex;
    text-align: center;
    right: 100px;
}
.inf h4{
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 10px;
    cursor: pointer;
}
.inf a{
    text-decoration: none;
    color: white;
}
.intro img{
    width: 100%;
}
.welcome{
    text-align: center;
    position: relative;
    bottom: 200px;
    color: white;
}
.welcome a{
    text-decoration: none;
    color: white;
}


.livraison{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px dashed gray;
}
.liv{
    display: flex;
}
.liv img{
    position: relative;
    right: 10px;
}
.liv h5{
    font-weight: lighter;
    color: gray;
}
.footer{
    padding-top: 80px;
    height: 300px;
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-around;
}
.footer h2{
    color: #ae8625;
    font-size: 30px;
}
.propos{
    width: 500px;
}
.newsleter{
    width: 500px;
}
.contct-icon{
    width: 200px;
    display: flex;
    justify-content:space-between;
    position: relative;
    top:80px;
}
.sign-up{
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 500px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.radios{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.M{
    position: relative;
    right: 20px;
}
input{
    height: 30px;
}
.prenom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom:20px ;
}
.prenom input{
    width: 300px;
}
.prenom img{
    position: relative;
    top: 9px;
}
.nom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom:20px ;
}
.nom input{
    width: 300px;
}
.nom img{
    position: relative;
    top: 9px;
}
.mail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom:20px ;
}
.mail input{
    width: 300px;
    position: relative;
    left: 2px;
}
.mail img{
    position: relative;
    right: 5px;
}
.mail h6{
    text-align: left;
    position: relative;
    right: 60px;
    font-weight: lighter;
}
.pwd{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.pwd input{
    width: 300px;
    position: relative;
    left: 2px;
}
.pwd img{
    position: relative;
    right: 2px;
}
#hide{
    height: 35px;
    position: relative;
    left: 0px;
    border-radius: 3px;
}
.birth{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.birth input{
    width: 300px;
    height: 30px;
}
.birth img{
    position: relative;
    top: 5px;
}
.birth h6{
    text-align: left;
    position: relative;
    right: 100px;
}
#inscrire{
    margin-bottom:50px ;
    height: 30px;
    width: 150px;
    background-color:black ;
    color: white;
    border-radius: 3px;
}